<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Reservas</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<a style="border-bottom-color: green" th:href="@{/reserva/irRegistrar}"
						id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus"></span> Reserva
					</a>
					<a style="border-bottom-color: green" th:href="@{/reserva/irBuscar}"
						id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-search"></span> 
					</a>
					
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">Codigo</th>
								<th class="text-center">Cliente</th>
								<th class="text-center">Nombre</th>
								<th class="text-center">Fecha</th>
								<th class="text-center">Hora</th>
								<th class="text-center">HistorialClinico</th>
								<th class="text-center">ProgramacionMensual</th>
								<th class="text-center">Operacion</th>
								<th class="text-center">Operacion</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${listaReservas}">
								<td th:text="${p.cliente.DNI}"></td>
								<td th:text="${p.nombreReserva}"></td>
								<td th:text="${p.fechareserva}"></td>
								<td th:text="${p.horareserva}"></td>
								<td th:text="${p.historialclinico.idHistorialClinico}"></td>
								<td th:text="${p.programacionmensual.idProgramacionMensual}"></td>
								
								<td><a th:href="@{/reserva/eliminar?id=} + ${p.idReserva}">Eliminar</a></td>
								<td><a th:href="@{'/reserva/modificar/' + ${p.idReserva}}">Modificar</a></td>
							</tr>
						</tbody>

					</table>

				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
